body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer .container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
  }
  
  .footer p {
    margin: 10px 0;
  }
  
  .footer .social-links a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .footer .social-links a:hover {
    text-decoration: underline;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button-settings {
    position: relative;
    top: 5vh;
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-settings:hover {
    background-color: #0d8bf2;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ongletcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin-top: 20px;
}

.ongletbutton {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.ongletbutton:hover {
    background-color: #ddd;
}

.ongletbutton.active {
    background-color: #ccc;
}


.notification-button {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 32px;
    color: #333;
    top: 10vh;
    margin-left: 3vh;
}

.notification-button:hover {
    color: #0d8bf2;
}
#post_tweet_1 > input{
    display: none;
}
#post_tweet_1 > label{
    cursor: pointer;
  }